<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
</head>
<body>
 <div id="login" >
     {{error}}
    <form method="post" action="/login/auth">
     <input type="text" placeholder="Enter Username" name="username">
     <input type="password" name="password" >
        <button id="submit" >Submit</button>
    </form>

 </div>

</body>
</html>